@font-face {
  font-family: 'Aeonik';
  src: url('assets/Aeonik-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('assets/Aeonik-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('assets/Aeonik-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('assets/Aeonik-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('assets/Aeonik-Black.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}