@use "../abstracts" as *;
@use "../base" as *;

.btn-primary {
  padding: 14px;
  background-color: #111111;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.switch {
  padding: 2px;
  width: 28px;
  height: 16px;
  background-color: #d9d9d9;
  border-radius: 100px;

  &-toggle {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 100%;
  }
}
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.drawer.open {
  transform: translateX(0);
}
.hidden {
  display: none;
}