<div class="container image-half-cont">
  <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/about_2.webp?v=1731811476" alt="" class="img-half">
  <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/about_2_2.webp?v=1731811475" alt="" class="img-half">
</div>

{% schema %}
  {
    "name": "Half Images Section",
    "tag": "section",
    "class": "section image-half",
    "settings": [
      
    ]
  }
{% endschema %}