<div class="container image-full-cont">
  <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/about_1.webp?v=1731811476" alt="" class="img-full">
</div>

{% schema %}
  {
    "name": "Image Section",
    "tag": "section",
    "class": "section image-full",
    "settings": [
      
    ]
  }
  {% endschema %}