<div class="container footer-cont">
  <div class="footer-top">
    <div class="footer-newsletter">
      <div class="footer-newsletter-head">
        <span class="txt-500 fs-16 cl-white">Newsletter Sign Up</span>
        <p class="txt-400 fs-16 cl-white-60">Join the inner Circle for exclusive updates, early access to new drops, and members-only offers.</p>
      </div>
      {% form 'customer', class: 'footer-form'%}
        {% if form.errors %}
          <ul>
            {% for field in form.errors %}
              {% for message in field[1] %}
                <li>{{ message }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% elsif form.posted_successfully? %}
          <p>Thank you for subscribing!</p>
        {% else %}
        <div class="footer-form-input">
          <input 
            type="email" 
            name="email" 
            id="email" 
            class="newsletter-input" 
            placeholder="Email Address" 
            required 
          />
          <button type="submit" class="newsletter-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.4297 5.93005L20.4997 12.0001L14.4297 18.0701" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.5 12H20.33" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        {% endif %}
      {% endform %}
    </div>
    <div class="footer-links">
      <div class="footer-links-list-wrapper">
        <span class="txt-500 fs-16 cl-white">Home</span>
        <ul class="footer-links-list">
          <li class="footer-links-item">
            <a href="/pages/brand">About Us</a>
          </li>
          <li class="footer-links-item">
            <a href="/pages/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-links-list-wrapper">
        <span class="txt-500 fs-16 cl-white">Platform</span>
        <ul class="footer-links-list">
          <li class="footer-links-item">
            <a href="/pages/terms-of-service">Terms of Service</a>
          </li>
          <li class="footer-links-item">
            <a href="/pages/privacy-policy">Privacy Policy</a>
          </li>
          <li class="footer-links-item">
            <a href="/pages/personal-information">Personal Information</a>
          </li>
        </ul>
      </div>
      <div class="footer-links-list-wrapper">
        <span class="txt-500 fs-16 cl-white">Social</span>
        <ul class="footer-links-list">
          <li class="footer-links-item">
            <a href="#">Instagram</a>
          </li>
          <li class="footer-links-item">
            <a href="#">Twitter</a>
          </li>
          <li class="footer-links-item">
            <a href="#">Facebook</a>
          </li>
          <li class="footer-links-item">
            <a href="#">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/logo-white.png?v=1731811107" alt="" class="footer-logo">
    <div class="footer-copyright-wrapper">
      <span class="txt-400 fs-14 cl-white">English (UK)</span>
      <span class="txt-400 fs-14 cl-white">© 2024 Autonomie. All right Reserved</span>
    </div>
  </div>
  <div class="language-selector">
    <form method="get" action="{{ shop.locale_href }}">
        <select name="locale" onchange="this.form.submit()">
            {% for locale in shop.enabled_locales %}
                <option value="{{ locale }}" {% if locale == shop.locale %}selected{% endif %}>
                  {% if locale == 'en' %}
                      English
                  {% elsif locale == 'fr' %}
                      French
                  {% elsif locale == 'es' %}
                      Spanish
                  {% else %}
                      {{ locale }}
                  {% endif %}
                </option>
            {% endfor %}
        </select>
    </form>
</div>

</div>

{% schema %}
  {
    "name": "Footer Section",
    "tag": "section",
    "class": "footer",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
  {% endschema %}