<div class="container home-hero-cont">
  <div class="home-hero-top">
    <h1 class="uppercase">Stay Real,</h1>
    <p>Immerse yourself in our curated selection of high-fashion garments, crafted to perfection. Each piece combines classic elegance with contemporary flair, creating a statement of sophistication.</p>
  </div>
  <div class="home-hero-bottom">
    <button class="btn-primary">
      {% render 'icon-globe' %}
      Explore Store
      {% render 'icon-arrow' %}
    </button>
    <h1 class="uppercase">No Fake</h1>
  </div>
</div>

{% schema %}
{
  "name": "Home Hero Section",
  "tag": "section",
  "class": "home-hero",
  "settings": [
    
  ]
}
{% endschema %}