<div class="container container-full home-section-five-cont">
  <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/home_4.webp?v=1731811475" alt="" class="bg-full">
  <div class="home-section-title items-center">
    <span class="txt-400 .fs-14 cl-white-50 uppercase">Lorem Ipsum</span>
    <span class="txt-500 fs-20 cl-white">Sunkissed Midi Dress Ombre</span>
  </div>
</div>

{% schema %}
  {
    "name": "Home Section Five",
    "tag": "section",
    "class": "home-section-five section-full",
    "settings": [
      
    ]
  }
  {% endschema %}