<div class="container container-full home-section-two-cont no-padding">
  <a href="#" class="home-section-half">
    <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/home_2_1.webp?v=1731811475" alt="" class="bg-full">
    <div class="home-section-half-wrapper">
      <div class="home-section-title items-center">
        <span class="txt-400 .fs-14 cl-white-50 uppercase">Lorem Ipsum</span>
        <span class="txt-500 fs-20 cl-white">Sunkissed Midi Dress Ombre</span>
      </div>
    </div>
  </a>
  <a href="#" class="home-section-half">
    <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/home_2_2.webp?v=1731811474" alt="" class="bg-full">
    <div class="home-section-half-wrapper">
      <div class="home-section-title items-center">
        <span class="txt-400 .fs-14 cl-white-50 uppercase">Lorem Ipsum</span>
        <span class="txt-500 fs-20 cl-white">Sunkissed Midi Dress Ombre</span>
      </div>
    </div>
  </a>
</div>

{% schema %}
  {
    "name": "Home Section 2",
    "tag": "section",
    "class": "home-section-two section-full",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
  {% endschema %}