<div class="container container-full home-hero-cont">
  <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/home_1.webp?v=1731811475" alt="" class="bg-full">
  <div class="home-section-title">
    <span class="txt-400 .fs-14 cl-white-50 uppercase">Lorem Ipsum</span>
    <span class="txt-500 fs-20 cl-white">Sunkissed Midi Dress Ombre</span>
  </div>
  <div class="home-section-title">
    <span class="txt-400 .fs-14 cl-white-50 uppercase">Lorem Ipsum</span>
    <span class="txt-500 fs-20 cl-white">Sunkissed Midi Dress Ombre</span>
  </div>
</div>

{% schema %}
{
  "name": "Home Hero Section",
  "tag": "section",
  "class": "home-hero section-full",
  "settings": [
    
  ],
  "blocks": [
  ]
}
{% endschema %}