<div class="container container-full home-section-three-cont">
  <img src="https://cdn.shopify.com/s/files/1/0625/6263/1749/files/home_3.webp?v=1731811476" alt="" class="bg-full">
  <div class="home-section-title align-bottom">
    <span class="txt-400 .fs-14 cl-white-50 uppercase">Lorem Ipsum</span>
    <span class="txt-500 fs-20 cl-white">Sunkissed Midi Dress Ombre</span>
  </div>
  <div class="home-section-title align-top">
    <span class="txt-400 .fs-14 cl-white-50 uppercase">Lorem Ipsum</span>
    <span class="txt-500 fs-20 cl-white">Sunkissed Midi Dress Ombre</span>
  </div>
</div>

{% schema %}
  {
    "name": "Home Section Three",
    "tag": "section",
    "class": "home-section-three section-full",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
  {% endschema %}