<div class="container legal-cont">
  <div class="legal-head">
    <h1 class="txt-500 fs-20 uppercase">{{ page.title }}</h1>
    <span class="txt-400 fs-14 cl-black-50">{{ page.metafields.custom.page_subtitle }}</span>
  </div>
  <div class="legal-main">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "Legal Section",
    "tag": "section",
    "class": "section legal",
    "settings": [
    ]
  }
{% endschema %}