@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

.legal {

  &-cont {
    @include flex-box(column, center, flex-start, 32px);
  }
  &-head {
    @include flex-box(column, center, flex-start, 16px);
    text-align: center;
  }
  &-main {
    @include flex-box(column, flex-start, flex-start, 16px);

    font-size: 18px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.5);
    line-height: 140%;
    list-style: disc;
  }
}